$primary-family: "Inter", sans-serif;
$secondary-family: "Manrope", sans-serif;

$background-color: #08090B;
$white-color: #FFFFFF;
$black-color: #000000;
$dark-blue-color: #252c41;
$light-blue-color: #3fbcf5;
$gray-color: #464e62;
$sky-color: #cee7ff;
$sky-color-v2: #d5eaff;